<html>
    <head>
        {{!-- calling the about css file path --}}
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/icon.jpg">
        {{!-- calling the js file path --}}
        <script src="./js/about.js"></script>
    </head>
    <body>
        {{!-- calling the header partial file syn:{{>filename}} --}}
        {{>header}}
        <p>This is the about page</p>
        {{!-- calling the image tag for pasting it --}}
        <img src="./img/home.jpg">
        {{!-- calling the footer partial file syn:{{>filename}} --}}
        {{>footer}}
    </body>
</html>