<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/icon.jpg">
    </head>
    <body>
        {{>header}}
        <p>Any help needed</p>
        <hr>
        {{>footer}}
    </body>
</html>