{{!-- Its is used to write the repeated codes in all the files at the bottom--}}

<footer>
    {{!-- we are getting the name for the page from app.js file. syn: {{obj name}} --}}
    <p id ="createdBy">Created by {{createdBy}}</p>
</footer>