{{!-- Its is used to write the repeated codes in all the files--}}

<header>
    {{!-- we are getting the title for the page from app.js file. syn: {{obj name}} --}}
    <h1>{{title}}</h1>
    <div>
        {{!-- Adding the links in the page, to move from one page to another --}}
        <a href="./">Home</a>
        <a href="./about">About</a>
        <a href="./help">Help</a>
        <a href="./login">Login</a>
    </div>
</header>